body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	
	background-color: rgb(140, 30, 0);
}

#content {
	width: 1050px;
	min-height: 500px;
	
	margin-left: auto;
	margin-right: auto;
	
	text-align: center;
	
	background-color: rgb(100, 100, 0);
	border: 2px solid rgb(20, 20, 20);
	
	color: rgb(220, 220, 220);
}
#menu {
	margin: 0px;
	padding: 6px;
	background-color: rgb(0,0,0);
	
}
#menu ul {
	margin: 0px;
	padding: 0px;
}
#menu li {
	display: inline-block;
	margin-right: 10px; 
	list-style: none;
	
}
#menu a {
	display: block;
	min-width: 125px;
	padding: 4px;
	
	color: rgb(0, 0, 0);
	text-decoration: none;
	
	background-color: rgb(220, 220, 220);
}
#menu a:hover {
	background-color: rgb(170, 170, 170);
}

h3 {
	margin-top: 8px;
	margin-bottom: 8px;
	text-align: center;
	
	font-size: 30px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* Page content styles */
.formContainer {
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	
	padding: 10px;
	
	background-color: rgb(50, 50, 50);
	border-radius: 5px;
}
.formContainer input {
	margin-bottom: 2px;
}

p.pageTitle {
	margin-top: 0px;
	margin-bottom: 5px;
	padding: 5px;
	background-color: rgb(90, 0, 0);
}

label {
	display: inline-block;
}

.center {
	text-align: center;
}
.centerDiv {
	margin-left: auto;
	margin-right: auto;
}

table {
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	
	border: 1px solid rgb(0,0,0);
	border-collapse: collapse;
	border-spacing: 0px;
}
th {
	background-color: rgb(20, 20, 20);
	border: 1px solid rgb(0,0,0);
	color: rgb(210, 210, 210);
}
td {
	border: 1px solid rgb(0,0,0);
}

